<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="sourceFolder" value="src"/>
    <add key="destinationFolder" value="dest"/>
  </appSettings>
  <connectionStrings>
    <add name="filenotes" connectionString="Data Source={SERVER_NAME};Initial Catalog=filenotes;User ID=filenotes;Password=till25for@"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
